{% extends 'base.html' %}

{% block title %}
   Login
{% endblock%}

{% block content %}
<section id="login" class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h4>
                <i class="fas fa-sign-in-alt"></i> Login</h4>
            </div>
            <div class="card-body">
              <form method="post" novalidate>
                {% csrf_token %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger">
                      {{error}}
                    </div>
                {% endfor %}
                
                {% for field in form %}
                      <div class="form-group">
                        {% if field.errors %}
                            <div class="alert alert-danger pb-0">
                                {{field.errors}}
                            </div>
                        {% endif %}
                        
                        <label for="{{field.id_for_label}}">
                          {{field.label}}
                        </label>

                        {{field}}
                      </div>
                    {% endfor %}
                  
                  <input type="submit" class="btn btn-secondary btn-block">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> 
{% endblock %}